.guide_basic {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px 60px;
  color: #222;
}

.guide_title {
  border: 1px solid #ddd;
  margin-left: 210px;
  margin-bottom: 16px;
  background: #fafafa;
  width: 1070px;
  
}

.guide_title img {
    width: 100%;
    height: auto;         
    object-fit: cover;    
    display: block;
}

.guide_title h2 {
  margin: 0 0 8px;
  font-size: 26px;
}

.guide_title p {
  margin: 0;
  line-height: 1.6;
  font-size: 14px;
  color: #555;
}

.guide_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-left: 210px;
}

.guide_card {
  border: 1px solid #ddd;
  background: #fff;
  padding: 12px;
  text-align: center;
}

.thumb {
  display: block;
  border: 1px solid #eee;
  background: #f5f5f5;
}

.thumb img {
  width: 100%;
  height: 350px;         
  object-fit: cover;    
  display: block;
}

.guide_name {
  margin: 12px 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: #222;
}

.down_btn {
  display: inline-block;
  width: 70%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.down_btn:hover {
  background: #eee;
}
